@model Product

@await Html.PartialAsync("_NavBar")

<div class="home-section">
<div class="pt-5"></div>
<div class="card border-primary m-5" >
   <div class="card-header text-center">

        <h1>Add Product</h1>
   </div>

    <div class="card-body">
        <form asp-action="CreateProduct">
        <div class="d-flex">
            <div class=" col mb-3">
                <div class=" mb-3">
                    <label  asp-for="Images"class="form-label"></label>
                    <input type="file" asp-for="Images" class="form-control">
                    <span asp-validation-for="Images" class="text-danger h5"></span>
                </div>
                <div>
                    <label  asp-for="Images"class="form-label"></label>
                    <input type="file" asp-for="Images" class="form-control">
                    <span asp-validation-for="Images" class="text-danger h5"></span>
                </div>
                <div>
                    <label  asp-for="Images"class="form-label"></label>
                    <input type="file" asp-for="Images" class="form-control">
                    <span asp-validation-for="Images" class="text-danger h5"></span>
                </div>
                <div>
                    <label  asp-for="Images"class="form-label"></label>
                    <input type="file" asp-for="Images" class="form-control">
                    <span asp-validation-for="Images" class="text-danger h5"></span>
                </div>
            </div>
            <div class="col mb-3">
                <div class=" mb-3">
                    <label asp-for="ProductName" class="form-label"></label>
                    <input asp-for="ProductName" class="form-control">
                    <span asp-validation-for="ProductName " class="text-danger h5"></span>
                </div>
                <div class=" mb-3">
                    <select asp-for="Category" class="form-select" aria-label="Default select example">
                        <option selected>Select Category</option>
                        <option value="Painting">Painting</option>
                        <option value="Wearable">Wearable</option>
                        <option value="Decoration">Decoration</option>
                        <option value="Sculpture">Sculpture</option>
                    </select>
                </div>
                
                <div class="  mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger h5"></span>
                </div>
            </div>
            <div class=" col mb-3">
                <div class=" mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control">
                    <span asp-validation-for="Price" class="text-danger h5"></span>
                </div>
                <div class=" mb-3">
                    <label asp-for="FreeShipping " class="form-label"></label>
                    <input type="checkbox" asp-for="FreeShipping " class="form-checkbox">
                    <span asp-validation-for="FreeShipping " class="text-danger h5"></span>
                </div>
            </div>
        </div>
        <div class="text-right mr-5">
            <input type="submit" value="Add Product" class="btn btn-light btn-lg w-25 Cbtn" >
        </div>

    </form> 
    </div>
   
</div>
</div>