@{
    int UserId=(int)Context.Session.GetInt32("userId");

}
@model List<Product>

 @await Html.PartialAsync("_NavBar")


<section class="home-section "> 
  <h1 class="text-center pt-5">All Items</h1>
  <div class="text">

    @foreach (Product i in Model){
      <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                    alt="Trendy Pants and Shoes"
                    class="img-fluid rounded-start"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">@i.ProductName</h5>
                    <p class="card-text">
                      @i.Description
                    </p>
                    <p class="card-text">
                      <small class="text-muted">@i.Seller.FirstName @i.Seller.LastName</small>
                    </p>
                    @if(UserId==@i.Seller.UserId){

                    <div>
                      <button class="btn btn-info">Edit</button>
                      <button class="btn btn-danger">Delete</button>
                    </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
    }
    
  </div>
</section>

