<h1>Item Name</h1>
<div>
    <div>
    <img src="" alt="">
    <div>
        <img src="" alt="">
    </div>
    </div>
    <div>
        <p>Description:</p>
        
    </div>
</div>
<div>
    <div>
        <p>Artist:</p>
        <p>Price:</p>
        <p>Category:</p>
    </div>
    <div>
        <p>Published At:</p>
        <p>Shipping:</p>
    </div>
</div>
<div>
    <button>Buy</button>
    <button>Message Seller</button>
    @* if seller *@
    <button>Edit</button>
    <button>Delete</button>
</div>