@model LoginUser
<div class="card border-primary mt-3 shadow">
    <h2 class="card-header">Login</h2>
    <div class="card-body">
        <form asp-action="Login" asp-controller="User" method="post">

            <div class="mb-3">
                <label asp-for="LoginEmail" class="form-label"></label>
                <input  asp-for="LoginEmail" class="form-control">
                <span  asp-validation-for="LoginEmail" class="form-text text-danger h4"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LoginPassword" class="form-label"></label>
                <input  asp-for="LoginPassword" class="form-control">
                <span  asp-validation-for="LoginPassword" class="form-text text-danger h4"></span>
            </div>

            <div>
                <input type="submit" value="Login" class="btn btn-primary btn-lg">
            </div>
        </form>
    </div>
</div>