@{
    int? userIdNullable = Context.Session.GetInt32("userId");
    int UserId = userIdNullable ?? 0;

}
  <input type="hidden" name="UserId" >
  <div class="sidebar">
    <div class="logo-details">
        <div class="logo_name">
          <img src="~/images/Logo.png" alt="" width="60%">
        </div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
      <li>
       <a asp-controller="Products" asp-action="ShowAll">
         <i class='bx bx-purchase-tag-alt'></i>
         <span class="links_name">All Prodcuts</span>
       </a>
       <span class="tooltip">All Prodcuts</span>
     </li>
     <li>
       <a asp-controller="Products" asp-action="AddProduct">
         <i class='bx bx-euro' ></i>
         <span class="links_name">Sell a Product</span>
       </a>
       <span class="tooltip">Sell</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-folder' ></i>
         <span class="links_name">My Products</span>
       </a>
       <span class="tooltip">My Products</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Order</span>
       </a>
       <span class="tooltip">Order</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-heart' ></i>
         <span class="links_name">Saved</span>
       </a>
       <span class="tooltip">Saved</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li class="profile">
       
         @if(UserId == 0 ){
         
            <form action="/user/logreg">
             <div class="profile-details">
              <button>  
                  <i class='bx bx-log-in' id="log_out"></i>          
              </button> 
             </div>
          </form>
       
         }else{
          <form asp-action ="Logout" asp-controller="User">
       
          <div class="profile-details">
           <img src="profile.jpg" alt="profileImg">
           <div class="name_job">
             <div class="name">Prem Shahi</div>
           </div>
           <button> 
            <i class='bx bx-log-out' id="log_out" ></i>
          </button>
         </div>   
         </form>
         }
         
     </li>
    </ul>
  </div>
 

